/* Global App Rules */

body {
	width: 100%;
	z-index: 1;
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	font-family: Arial, Helvetica, sans-serif
}

/* Baddy Rules */

div.baddies div.baddy {
	position: absolute;
	z-index: 2;
}

/* Navigation Rules */

div.navigation {
	display: block;
	width: 640px;
	z-index: 3;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid red;
}

div.navigation div.link {
	display: inline-block;
	width: 124px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div.navigation div.link a.selected {
	font-size: 30px;
	font-weight: bold;
}

div#experience.navigation div.link {
	width: 32%;
}

/* Content Rules */

div.content {
	display: block;
	width: 640px;
	height: 640px;
	z-index: 4;
	margin-left: auto;
	margin-right: auto;
	padding: 48px;
	background-color: #33CCFF;
	border-width: 16px;
	border-radius: 16px;
	border-style: solid;
	border-color: #33CCFF;
}

