/* Global App Rules */

body {
	background-image: url('../img/background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	color: #FFFFFF;
	font-family: "Courier New", Courier, monospace; 
	font-weight: bold;
	width: 100%;
}

body * {
	position: relative;
}


/* Baddy Rules */

div.baddies.off {
	display: none;
}

div.baddies div.baddy {
	position: absolute;
}

div.baddies div.baddy img {}


/* Navigation Rules */

div.navigation {
	display: block;
	height: 80px;
	margin-bottom: 32px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}

div.navigation#app {
	margin-top: 32px;
	width: 640px;
}

div.navigation#experience {
	width: 256px;
}

div.navigation#skills {
	width: 384px;
}

div.navigation div.link {
	display: inline-block;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	width: 120px;
}

div.link a img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 8px;
}

/* CSS3 Animation */

div.link a.selected img {
	animation-duration: 1s;
	animation-name: bounce;
	animation-iteration-count: infinite;
	-webkit-animation-duration: 1s;
	-webkit-animation-name: bounce;
	-webkit-animation-iteration-count: infinite;
}

@keyframes bounce {
	0% {	padding-top: 8px; }
	13% {	padding-top: 12px; }
	25% {	padding-top: 16px; }
	37% {	padding-top: 12px; }
	50% {	padding-top: 8px; }
	63% {	padding-top: 4px; }
	75% {	padding-top: 0px; }
	87% {	padding-top: 4px; }
	100% {	padding-top: 8px; }
}

@-webkit-keyframes bounce {
	0% {	padding-top: 8px; }
	12% {	padding-top: 12px; }
	25% {	padding-top: 16px; }
	37% {	padding-top: 12px; }
	50% {	padding-top: 8px; }
	62% {	padding-top: 4px; }
	75% {	padding-top: 0px; }
	87% {	padding-top: 4px; }
	100% {	padding-top: 8px; }
}

/* Footer Rules */

div.footer {
	background-color: #9290FF;
	border-color: #C0DFFF;
	border-style: solid;
	border-width: 4px;
	border-top-width: 0px;
	margin-bottom: 32px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 640px;	
}

div.footer div {
	display: inline-block;
}

/* Section Rules */

div.section {
	background-color: #9290FF;
	border-color: #C0DFFF;
	border-style: solid;
	border-width: 4px;
	border-bottom-width: 0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 32px;
	width: 576px;
}

div.section div.content div.item {
	margin: 32px;
}

/* About Rules */

div#about div.photo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 512px;
}

div#about div.photo img.frame {
	height: 512px;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 512px;
}

div#about div.photo img.me {
	height: 410px;
	margin: 64px;
}

div#about div.social-sites {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 32px;
	width: 170px;
}

