/* Global App Rules */

body {
	background-image: url('../img/background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	font-family: Arial, Helvetica, sans-serif
	width: 100%;
}

body * {
	position: relative;
}


/* Baddy Rules */

div.baddies div.baddy {
	position: absolute;
}

div.baddies div.baddy img {}


/* Navigation Rules */

div.navigation {
	display: block;
	height: 64px;
	margin-left: auto;
	margin-right: auto;
}

div.navigation#app {
	padding-bottom: 32px;
	padding-top: 32px;
	width: 640px;
}

div.navigation#experience {
	padding-top: 32px;
	width: 256px;
}

div.navigation#skills {
	padding-top: 32px;
	width: 384px;
}

div.navigation div.link {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width: 124px;
}

div.navigation div.link img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/* Section Rules */

div.section {
	background-color: #33CCFF;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 640px;
}

div.section div.content {
	margin-left: 64px;
	margin-right: 64px;
	padding-bottom: 32px;
	padding-top: 32px;
	width: 512px;
}


/* About Rules */

div#about div.photo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 180px;
}

div#about div.photo img.frame {
	height: 212px;
	left: -25px;
	position: absolute;
	top: -10px;
	width: 230px;
}

div#about div.social-sites {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 153px;
}

