/* Global App Rules */

body {
	background-image: url('../img/background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	color: #FFFFFF;
	font-family: "Courier New", Courier, monospace; 
	width: 100%;
}

body * {
	position: relative;
}

.hidden {
	display: none;
}

div.bold {
	font-weight: bold;
}

div.inline {
	display: inline;
}

/* Baddy Rules */

div.baddies.off {
	display: none;
}

div.baddies div.baddy {
	position: absolute;
}

div.baddies div.baddy img {}


/* Navigation Rules */

div.navigation {
	display: block;
	height: 80px;
	margin-bottom: 32px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}

div.navigation#app {
	margin-top: 32px;
	width: 640px;
}

div.navigation#experience {
	width: 256px;
}

div.navigation#skills {
	width: 384px;
}

div.navigation div.link {
	display: inline-block;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	width: 120px;
}

div.link a {
	color: #FFFFFF;
	text-decoration: none;
	text-shadow: -2px 0 #9290FF, 0 2px #9290FF, 2px 0 #9290FF, 0 -2px #9290FF;
}

div.button img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 8px;
}

div.button h2,h3 {
	text-align: center;
	top: -56px;
}

/* CSS3 Animation */

div.link a.selected div.button img {
	animation-duration: 1s;
	animation-name: bounce;
	animation-iteration-count: infinite;
	-webkit-animation-duration: 1s;
	-webkit-animation-name: bounce;
	-webkit-animation-iteration-count: infinite;
}

@keyframes bounce {
	0% {	top: 8px; }
	13% {	top: 12px; }
	25% {	top: 16px; }
	37% {	top: 12px; }
	50% {	top: 8px; }
	63% {	top: 4px; }
	75% {	top: 0px; }
	87% {	top: 4px; }
	100% {	top: 8px; }
}

@-webkit-keyframes bounce {
	0% {	top: 8px; }
	12% {	top: 12px; }
	25% {	top: 16px; }
	37% {	top: 12px; }
	50% {	top: 8px; }
	62% {	top: 4px; }
	75% {	top: 0px; }
	87% {	top: 4px; }
	100% {	top: 8px; }
}

/* Footer Rules */

div.footer {
	background-color: #9290FF;
	border-color: #C0DFFF;
	border-style: solid;
	border-width: 4px;
	border-top-width: 0px;
	margin-bottom: 32px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 640px;	
}

div.footer div {
	display: inline-block;
}

/* Section Rules */

div.section {
	background-color: #9290FF;
	border-color: #C0DFFF;
	border-style: solid;
	border-width: 4px;
	border-bottom-width: 0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 32px;
	width: 576px;
}

div.section div.content div.item {
	margin: 32px;
}

/* Index Rules */

/* About Rules */

div#about h1 {
	text-align: center;	
}

div#about div.photo {
	display: block;
	margin-bottom: 32px;
	margin-left: auto;
	margin-right: auto;
	width: 512px;
}

div#about div.photo img#frankenstein {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 256px;
}

div#about div.photo img#frame {
	height: 512px;
	width: 512px;
	z-index: 3;
}

div#about div.photo img#me {
	height: 410px;
	margin: 64px;
	position: absolute;
	width: 375px;
	z-index: 1;
}

div#about div.photo div#loading {
	color: #FF0000;
	font-size: 64px;
	font-weight: bold;
	left: 155px;
	position: absolute;
	top: 175px;
	z-index: 0;
}

div#about div.sites {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 32px;
	width: 170px;
}

