<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<%= stylesheet_link_tag "application", media: "all" %>
		<link rel="shortcut icon" href=<%= asset_path "favicon.ico" %> >
		<title>Steven J. Justin - Probably the Best at Everything</title>
	</head>

	<body>

		<%= yield %>
	
	</body>
</html>
